.header {
    display      : flex;
    margin-bottom: 90px;
    padding      : 46px 150px 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header {
        padding      : 20px 16px;
        margin-bottom: 0;
        background-color: #0E1014;
    }
}

.header__logo-images {
    display   : flex;
    gap       : 8px;
    margin-top: 11px;
}

.header__navigation-list {
    all         : unset;
    display     : flex;
    gap         : 30px;
    padding-top : 15px;
    box-sizing  : border-box;
    margin-right: 137px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header__navigation-list {
        gap         : 16px;
        margin-right: 0;
        padding     : 0;
    }
}

.header__logo-1 {
    width : 35px;
    height: 24px;
}

.header__logo-2 {
    width     : 97px;
    height    : 15px;
    align-self: center;
}

.header__number {
    margin-right: 47px;
    padding-top : 15px;
    color       : E4E5EA;
    text-align  : right;
    font-size   : 16px;
    font-style  : normal;
    font-weight : 500;
    line-height : normal;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header__number {
        display: none;
    }
}


.header__links-container {
    display    : flex;
    gap        : 30px;
    padding-top: 14px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header__links-container {
        display: none;
    }
}


.header__logo-container {
    margin-right  : 27px;
    display       : flex;
    flex-direction: column;
    gap           : 10px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header__logo-container {
        display: none;
    }
}

.header__navigation {
    width: 639px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header__navigation {}
}

.header__navigation-list li {
    all        : unset;
    color      : #E4E5EA;
    font-size  : 16px;
    font-style : normal;
    font-weight: 500;
    line-height: normal;
    z-index    : 1;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .header__navigation-list li {
        font-size     : 12px;
        text-transform: uppercase;
    }
}

.header__logo-info {
    color      : #E4E5EA;
    font-family: 'Montserrat';
    font-size  : 10px;
    font-style : normal;
    font-weight: 400;
    line-height: normal;
    width      : 165px;
}

.header__link-icon {
    width : 20px;
    height: 20px;
}