.app {
  width           : 1440px;
  background-color: #0E1014;
  box-sizing      : border-box;
  padding         : 46px 150px 20px;
}

.landing {}

.landing__left-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.landing__title-container{
  display: flex;
  flex-direction: column;
}

.landing__title {
  color      : #E4E5EA;
  font-size  : 48px;
  font-style : normal;
  font-weight: 400;
  line-height: normal;
  width: 362px;
}

.landing__subtitle {
  background     : linear-gradient(to right, #FCB045, #FF3F78);
  background-clip: text;
  color          : transparent;
  font-size      : 48px;
  font-style     : normal;
  font-weight    : 900;
  line-height    : normal;

}

.landing__subtitle-text {
  background             : linear-gradient(to right, #FCB045, #FF3F78);
  -webkit-background-clip: text;
  background-clip        : text;
  color                  : transparent;
}

.landing__description{
  color: #E4E5EA;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}